  /* Bios CSS */

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  /***** MAIN *****/
  
  body {
    overflow-x: hidden;
    /* background-image: url(/assets/images/brennan-ehrhardt-25066-unsplash.jpg); */
    /* background-image: url(https://picsum.photos/1936?image=859); */

    
  }

 .bio{
     border-radius: 16px;
     /* opacity: .9; */
 }
  /* PARALLAX */
  .paraDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 100%;
      height: 100vh;
  }

  .parallaxItem {
      font-size: 60px;
      background: #eee;
      padding: 18px 30px;
      border-radius: 16px;
      opacity: .9;
  }

  .paraDiv:nth-child(1) {
      /* background-image: url(https://picsum.photos/1400?image=859); */
      background-size: cover;
      height: 50vh;
  }

  .paraDiv:nth-child(3) {
    background-image: url(https://picsum.photos/1000?image=1067);
    background-size: cover;
    background-attachment: fixed;
}

img {
    border-radius: 8px;
    margin: auto 20px;
}


  /* End PARALLAX */

  .signUp {
      width: 75%
  }
 
  /* PLANS */

  .paraDivPlans {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 40vh;
}

.paraDivPlans:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 50vh;
}
  