  /* Bios CSS */

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  /***** MAIN *****/
  
  body {
    /* background-color: rgba(144, 144, 144, 0.1);
    color: #444;
    font-family: "Lato", sans-serif; */
  }

  /* PARALLAX */
  .paraDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 100%;
      height: 100vh;
  }

  .parallaxItem {
      font-size: 60px;
      background: #eee;
      padding: 18px 30px;
      border-radius: 16px;
      opacity: .8;
  }

  .paraDiv:nth-child(1) {
      background-image: url(https://picsum.photos/1400?image=829);
      background-size: cover;
      height: 80vh;
  }

  .paraDiv:nth-child(3) {
    background-image: url(https://picsum.photos/1000?image=1067);
    background-size: cover;
    background-attachment: fixed;
}



  /* End PARALLAX */
  
  .row {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  /***** PERSON BOX *****/
  
  .person-box {
    margin-top: 50px;
    width: 30%;
    text-align: center;
    height: 550px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  }
  
  .gym-photo {
    height: 250px;
  }
  
  .photo-1 {
    background: url("https://picsum.photos/300?image=912")
      center;
    background-size: cover;
  }
  
  .photo-2 {
    background: url("http://timeinc.brightcove.com.edgesuite.net/rtmp_uds/293884104/201703/2523/293884104_5353504966001_5353499783001-vs.jpg?pubId=293884104&videoId=5353499783001")
      center;
    background-size: cover;
  }
  
  .photo-3 {
    background: url("http://international.niagaracollege.ca/wp-content/uploads/2017/11/yoga.jpg")
      center;
    background-size: cover;
  }
  
  img {
    margin-top: -60px;
    width: 120px;
    border-radius: 50%;
  }
  
  .person-box h1 {
    padding: 25px 10px 10px;
  }
  
  .person-box p {
    padding: 0 10px 25px 10px;
    color: #777;
  }
  
  button {
    padding: 15px 25px;
    background-color: transparent;
    border: 2px solid #e1315b;
    outline: none;
    font-weight: 700;
    color: #e1315b;
    width: 150px;
    border-radius: 2px;
    transition: 0.3s;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #e1315b;
    color: #fff;
  }
  
  @media only screen and (max-width: 996px) {
    .person-box {
      width: 48%;
    }
    .person-box:last-child {
      margin-top: 20px;
      width: 100%;
    }
  }
  
  /***** MEDIA *****/
  
  @media only screen and (max-width: 730px) {
    .person-box {
      width: 100%;
      height: 350px;
    }
    .gym-photo {
    height: 100px;
  }
    img {
    margin-top: -50px;
    width: 100px;
  }
  
  .person-box h2 {
    padding-top: 30px
  }
  
  .person-box p {
    padding-bottom: 30px;
  }
    .person-box:nth-child(2) {
      margin-top: 20px;
    }
    .menu li {
      display: block;
      text-align: center;
    }
    .menu li:last-child {
      background-color: transparent;
    }
    .menu li:last-child:hover {
      background-color: #e1315b;
    }
    .menu li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
      z-index: 1;
    }
    .menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 0;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      padding-top: 60px;
    }
    .on {
      display: block;
    }
  }
  
  